<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

   {% block title %}
         <title>Ecoleta</title>
    <!-- <link rel="icon" href="assets/assets/icones/logo.svg" type="image/icon type"> -->
   {% endblock title %}

    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="sytles/main.css">
    <link rel="stylesheet" href="sytles/responsive.css">

    {% block styles %}
    {% endblock styles %}
</head>

<body>
    <div id="{{pageID}}">
        {% block content %}
        {% endblock content %}
    </div> 

    {% block modal %}
    {% endblock modal %}

    {% block scripts %}
    {% endblock scripts %}
</body>

</html>