:root {
    --title-color: #362066;
    --primary-color: #34cb89;
    --secondary-color: #f0f0f5;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--secondary-color);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
    font-family: 'ubuntu', sans-serif
}

.content {
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

head link {
    width: 40px;
    height: 40px;
}